
body
{

	width: 1200px;
	height: 900px;
    padding: 30px;
  cursor:ne-resize;
    
   
}

#headerwrap
{
   	width: 1200px;
    height: 80px;
}



#containerwrap
{
    width: 1200px;  
    
    height: auto;

}



ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 150px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 150px;
}



span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
















ul.img-list li:hover span.text-content {
  opacity: 1;
}



















#footerwrap
{


    color:white;
    clear:both;
      text-align:center;
    
    height: 30px;
    width: 1200px

}

#footerwrap .footerleft
{
    width: 400px;
    height: 30px;
    float: left;
    background-color: #343333;
   
}

#footerwrap .footerright
{
   width: 800px;
   height: 30px;
   float: right; 
   background-color: #343333;
}
