







<html>
<head>
  

  <title>
    

  </title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>





<div class="banner" style=" position: relative; overflow: auto; width: 1200px;height: 260px; background-color: black">


   
<div class="bannerimage" style="width: 1200px;height: 260px">
  
  <span class="bannerimageleft" style="width: 400px;height: 260px;padding-left: 40px;float: left;"> 

   <h4 style="color: red;padding-top: 50px;">Tamilnadu Assembly Election  - 2016</h4> 
   <br>
           <h4 style="color: white">Total no of seat </h4>
         <br><br>
            <p>AC : 234 </p>

             <p> PC : 39 </p>

  </span>

<span class="bannerimageright" style="width: 800px;height: 260px;float: right;">

<table>

<tr> <td style="padding-left: 30px;padding-top: 30px">


    <ul class="img-list">
    <li>
      <a href="#jeyalalitha">
        <img src="img/jeyalalitha.png" class="img-circle" width="130px" height="130px" alt="img02" >
        <span class="text-content"> <span>J.Jeyalalitha</span> </span>
       </a>
    </li> </ul>

    </td>
        

    <td style="padding-left: 0px; padding-top: 40px;">
       <ul class="img-list">
    <li> 
           <a href="#karunanithi">
              <img  src="img/karunanithi.png" class="img-circle"  width="140px" height="115px" alt="img02">
        <span class="text-content"> <span>M.Karunanithi</span> </span>
              
        </a> </li> </ul></td>



       <td style="padding-left: 10px;padding-top: 15px;">
           <ul class="img-list">
            <li>
            <a href="#vijayakanth">
        <img src="img/vijayakanth.png" class="img-circle" width="130px" height="150px" alt="img02">
        <span class="text-content"> <span>Vijayakanth</span> </span>
        
        </a></li></ul></td>

      <td style="padding-top: 25px;">
             <ul class="img-list">  
        <li>
        <a href="#anbumani">
        <img src="img/anbumani.png" class="img-circle" width="150px" height="150px" alt="img02">

        <span class="text-content"> <span>R.Anbumani</span> </span>
        </a>  </li></ul>

        </td>
  </tr>
  
<tr><td>
  <h4 style="color: white;padding-left: 60px;"> Chief Minister candidates</h4>
</td>
</tr>
</table>


</span>
  
</div> 







<script src="controller/modernizr.custom.js" type="text/javascript"></script>

</div>






<div class="contenttext" style="width: 1200px;">

   <span class="contenttextleft" style="width: 200px; float: left;">
    

    <table>
 
    <tr><td>
         <h4 style="text-decoration: underline;padding-top: 15px">Election result 2011</h4>

      </td></tr>

      <tr> <td>
        <h3 style="font-size: 15px">ADMK Allience : 203</h3>
      </td></tr>


       <tr><td>
        <p style="font-size: 12px;padding-left: 20px">ADMK: 150</p>
      </td></tr>


      <tr><td>
        <p style="font-size: 13px;padding-left: 20px">DMDK: 29   AIFB: 1</p>
      </td></tr>

    <tr><td>
        <p style="font-size: 13px;padding-left: 20px;">CPI(M): 10   CPI : 9</p> 
        
      </td>
               
      </tr>


    
      <tr><td>
        <p style="font-size: 13px;padding-left: 20px;">MNMk: 2  PT: 2</p> 
      </td></tr>

          
    <tr><td>
        <h3 style="font-size: 15px">DMK Allience : 31</h3>
      </td></tr>



          <tr>
            <td>
        <p style="font-size: 13px;padding-left: 20px;">DMK : 23</p>
      </td></tr>

       <tr>
      <td>
        <p style="font-size: 13px;padding-left: 20px;">INC : 5</p> 
      </td>

    </tr> 
              
    <tr>
      <td>
        <p style="font-size: 13px;padding-left: 20px;">PMK : 3</p> 
      </td></tr> 


   </table>


   </span>

 <span class="contentright" style="width: 1000px; float: right;">



<form>

<div style="padding-top: 25px;">   

<table>  
<tr>   
    <td>
       Select country : 
       <select ng-model="country" required>
       <option value=""></option>
       <option value="India"> India </option>
       </option>
     
       </select> </td>

    <td style="padding-left: 50px;"> 
       Select state : 
       <select ng-model="state" required>
       <option value=""></option>
      <option value="Tamilnadu">Tamilnadu</option>
       
          </select> </td>
   
   </tr>


<tr>   <td style="padding-top: 30px;"> 
Select district : 


 <select required id="slct1" name="slct1" onchange="populate(this.id,'slct2')">
     
           <option value=""></option>
           <option value="chennai">chennai</option>
           <option value="kancipuram">kanchipuram</option>
           <option value="tiruvallur">tiruvallur</option>
           <option value="cuddalore">cuddalore</option>
            <option value="villupuram">villupuram</option>

             <option value="vellore">vellore</option>
           <option value="tiruvannamalai">tiruvannamalai</option>
           <option value="salem">salem</option>
           <option value="namakkal">namakkal</option>
            <option value="dharmapuri">dharmapuri</option>

             <option value="erode">erode</option>
           <option value="coimbatore">coimbatore</option>
           <option value="nilgiris">nilgiris</option>
           <option value="thanjavur">thanjavur</option>
            <option value="nagapattinam">nagapattinam</option>

             <option value="tiruvarur">tiruvarur</option>
           <option value="tiruchirappalli">tiruchirappalli</option>
           <option value="karur">karur</option>
           <option value="perambalur">perambalur</option>
            <option value="pudukkottai">pudukkottai</option>


             <option value="madurai">madurai</option>
           <option value="theni">theni</option>
           <option value="dindigul">dindigul</option>
           <option value="ramanathapuram">ramanathapuram</option>
            <option value="virudhunagar">virudhunagar</option>

             <option value="sivagangai">sivagangai</option>
           <option value="tirunelveli">tirunelveli</option>
           <option value="thoothukkudi">thoothukudi</option>
           <option value="kanniyakumari">kanniyakumari</option>
            <option value="krishnagiri">krishnagiri</option>
            <option value="ariyalur">ariyalur</option>
            <option value="tiruppur">tiruppur</option>



   </select>   </td>

  <td style="padding-left: 50px;padding-top: 30px;">
  Select a counstitution :
  <select required ng-model="myVar" id="slct2" name="slct2">
    <option value=""></option>
    <option value="theni"></option>
    <option value="bodi"></option>
    <option value="R.K nagar"></option>
  </select> </td>

   <td style="padding-left: 50px;padding-top: 30px;">  
<button type="button" class="btn btn-info">View</button>
   </td>


</tr>
  

  </table>
  </div>

</form>
<br><br>

<div style="height: 400px; width: 1000px;background-color: #8A8888" >
  
    <table>
        
            <tr>  
              <td style="padding-left: 30px;padding-top: 10px;"> Constituency code : </td> 
               <td style="padding-left: 400px;padding-top: 10px;"> Total number of voters : </td>
     
              </tr>
               <tr>
              <td style="padding-left: 30px;padding-top: 10px;">  Constituency name : </td>
                  <td style="padding-left: 400px;"> Total number of male/female voters : </td>

                  

               </tr>




    </table>
    <br><br>
    
<table>
  <thead>
    <tr>
      <th  style="padding-left: 30px">Candidate code</th>
      <th  style="padding-left: 30px">Name of the candidate</th>
      <th  style="padding-left: 30px">Party name</th>
      <th  style="padding-left: 30px">Alliance name</th>
      <th  style="padding-left: 30px">Reserved</th>
      <th  style="padding-left: 30px">Address details</th>
     <th  style="padding-left: 30px">Voting</th>
    </tr>
  </thead>

   <tbody>
    <tr>
      <td style="text-align: center;">January</td>
      <td style="text-align: center;">$100</td>
      <td  style="text-align: center;">mmm</td>
      <td style="text-align: center;">$100</td>
      <td  style="text-align: center;">mmm</td>
      <td style="text-align: center;">$100</td>
      <td style="text-align: center; padding-left: 30px"> <button>Vote</button></td>
    
    </tr>
  
   
  </tbody>
</table>








</div>
<div style="height: 20px;width: 1000px;">
  
</div>

</span>


<br>


</body>


</html>








 
























